<div class="card">
  <%= image_tag(room.user.image, class: :card__img) %>
  <div class="card__body">
    <%= "ルーム名 : #{room.name}" %>
    <p class="card__summary">
      <%= "目的 : #{room.purpose.name}" %>
    </p>
    <%= link_to "by #{room.user.nickname}", "#", class: :card__user %>
  </div>
  <div>
    <%= link_to "参加する", room_path(room.id), class: :nav__btn %>
  </div>
</div>