<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oekaki App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "お絵かき!(仮)", root_path %>
          </div>
          <% if current_page?(room_path)%>
            <div class="nav__right">
              <%= "#{@room.id} " %>
              <%= "ルーム名 : #{@room.name}" %>
            </div>
            <div class="nav__right">
              <%= "目的 : #{@room.purpose.name}" %>
            </div>
            <div class="nav__right">
              <% if current_user.id == @room.user_id %>
                <%= link_to "ルーム削除", "#", method: :delete, class: :nav__logout %>
              <% else %>
                <%= link_to "ルーム退出",root_path, class: :nav__btn%>
              <% end %>
            </div>
          <% else %>
          <%# ログインしているときの表示%>
            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
                <%= link_to "ルーム作成", new_room_path, class: :nav__btn %>
              </div>
            <%# // ログインしているときの表示 %>
            <%# ログインしていないときの表示 %>
            <% else %>
              <div class="nav__right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          <% end%>
          <%# // ログインしていないときの表示 %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">oekaki app.</p>
    </footer>
  </body>
</html>
